@import 'colors';
// Typography
//

@font-face {
  font-family: "ProximaNova";
  src: url("../assets//fonts/ProximaNovaFont.otf") format("otf")
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets//fonts/OpenSans-Regular.ttf") format("otf")
}

// Font, line-height, and color for body text, headings, and more.
$variable-prefix:             bs- !default;
// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:    -apple-system, system-ui, "ProximaNova" , "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:      -apple-system, system-ui, "ProximaNova" , "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-secondary:      -apple-system, system-ui, "OpenSans" , "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 3 !default;
$h2-font-size:                $font-size-base * 2.25 !default;
$h3-font-size:                $font-size-base * 1.875 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.125 !default;
$h6-font-size:                $font-size-base * 0.875 !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;
// scss-docs-end font-sizes
$spacer: 1rem !default;
// scss-docs-start headings-variables
$headings-margin-bottom:      0 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              $gray-900 !default;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 0.875 !default;
$lead-font-weight:            300 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

$text-muted:                  $gray-600 !default;

$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$paragraph-margin-bottom:   0 !default;

p{
  font-family:"OpenSans", Arial;
}

h1,h2,h3,h4,h5,h6,button{
  font-family:"ProximaNova", sans-serif;
}