<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-primary">heading one 48px .text-primary</h1>
            <h2>heading two 36px</h2>
            <h3>heading three 30px</h3>
            <h4>heading four 24px</h4>
            <h5>heading five 18px</h5>
            <h6>heading six 14px</h6>
            <p class="lead">paragraph 14px Open Sans</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Buttons</h1>
            <div class="global-buttons mt-10">
                <button class="btn btn-primary">Button primary #e57632 height 50px</button>
                <button class="btn btn-danger">Button danger #e36060</button>
                <button class="btn btn-info">Button info #36a5d9</button>
                <button class="btn btn-warning">Button warning #ffc000</button>
                <button class="btn btn-success">Button success #6fdd9d</button>
                <button class="btn btn-green">Button green #2dda8f</button>

                <button class="btn btn-primary btn-sm">Button primary sm 40px</button>
                <button class="btn btn-primary btn-lg">Button primary lg 60px</button>
                <button class="btn btn-dark btn-lg">Button dark lg #22292d</button>
            </div>
        </div>
        <div class="col-sm-3">
            <h1>Form fields</h1>
            <div class="global-form-fields mt-10">
                <select class="form-select form-control mb-20" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="form-group">
                    <label class="form-label" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>